{% extends 'base.html.twig' %}

{% block title %}Hello Stimulus{% endblock %}

{% block body %}

    <div class="container my-5 p-5">

        <div {{ stimulus_controller('say-hello') }}>
            <input type="text" {{ stimulus_target('say-hello', 'name') }}>

            <button {{ stimulus_action('say-hello', 'greet') }}>
                Greet
            </button>

            <div {{ stimulus_target('say-hello', 'output') }}></div>
        </div>

    </div>

{% endblock %}
