{% extends 'base.html.twig' %}

{% block title %}Chart{% endblock %}

{% block body %}

    <div class="container my-5 p-5">

        <div style="height: 300px;">
            {{ render_chart(chart) }}
        </div>

    </div>

{% endblock %}
