{% extends 'base.html.twig' %}

{% block title %}Typed{% endblock %}

{% block body %}

    <div class="container my-5 p-5">


        <div class="p-5" style="font-size: 1.3em;">
            <span
                {{ stimulus_controller('symfony/ux-typed', {
                strings: [
                    'I ❤️ Symfony UX!',
                    'Symfony UX Typed loves to type',
                    'Symfony UX Typed and backspace',
                    'Control the speed',
                    'Control the cursor',
                    'Control your destiny!!!',
                    'Control your destiny... sort of',
                ],
                loop: true,
                showCursor: true,
                cursorChar: '✨',
            }) }}
                ></span>
        </div>


    </div>

{% endblock %}
